ZMP_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1NTQ2NjMyOTA0MjM1MTk2MjMiLCJhcHBJZCI6IjEzNTMwMDY2NDU0ODQ2NTM5MzkiLCJpc3MiOiJhdXRoMCIsImV4cCI6MTc2MjkyMDc4M30.ZucEBg2C_Sx_7_vpes5GFhHkrocy9-sel81PAp0yeO0
APP_ID=1353006645484653939
VITE_KEY_ID=8185
VITE_SHOP_USERNAME=0898998888
VITE_APP_ENV=development
VITE_DEBUG=true
VITE_API_TIMEOUT=10000
VITE_ZALO_OA_ACCESS_TOKEN=PedQcRl79956tEHG2dC9
# VITE_ZALO_APP_ID phải trùng với App ID trong Zalo Developer Console (ID: 1353006645484653939)
VITE_ZALO_APP_ID=1353006645484653939
VITE_ZALO_APP_SECRET=PedQcRl79956tEHG2dC9
VITE_ZALO_TOKEN_URL=https://oauth.zalo.me/v4/oa/access_token
VITE_ZALO_PROFILE_URL=https://graph.zalo.me/v2.0/me
VITE_ZALO_OA_ID=615903148798465343
